{% block sw_cms_block_product_four_column_preview %}
    <div class="sw-cms-preview-product-four-column">
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
        <sw-cms-product-box-preview></sw-cms-product-box-preview>
    </div>
{% endblock %}
